In [75]:
squares = list(filter(lambda x: x>3, range(10)))
print (squares)
sorted(squares,reverse=True)


for num in range(1,100):
    
    for i in range(2,num-1):
        flag=0
        if num%i==0:
            flag=1
            break
       
    if  flag==0:
        print(num)

[4, 5, 6, 7, 8, 9]
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [79]:
[1,2,3]+ [ "one"]

[1, 2, 3, 'one']

In [81]:
[x*y for x in [1,2,3] for y in [4,5,6]  ]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [82]:
s= {1}
L= [1]

In [105]:
list((x,y) for x in ['A','B','C'] for y in [1,2,3,4] )

[('A', 1),
 ('A', 2),
 ('A', 3),
 ('A', 4),
 ('B', 1),
 ('B', 2),
 ('B', 3),
 ('B', 4),
 ('C', 1),
 ('C', 2),
 ('C', 3),
 ('C', 4)]

In [124]:
s=[1,2,3,4]
s[0]
s[::1]
s[::2]
s[::-1]
s[3::-1]

[4, 3, 2, 1]

In [137]:
s=(11)
print(type(s))

s=(11,)
print(type(s))

<class 'int'>
<class 'tuple'>

In [138]:
my_data4 = ((2,3,4),(1,2,"hi"))
len(my_data4)

2

In [155]:
t = ( 2, "hello" , [2,3,4])
#t[0]=1  #fails becoz tuple can't be changed 
#t[2].update(10)# works becoz 
print (t)

(2, 'hello', [2, 3, 4])

In [181]:
mydisc={1:2, 2:{1,2,3} , 3: "hello" , 4:(4,3,5),5:89.0}
mydisc.keys()
len(mydisc)
print (mydisc.values)
print (mydisc)

print (mydisc.items())

for key,value in mydisc.items():
    print(key)
    print(value)

<built-in method values of dict object at 0x000000000706B188>
{1: 2, 2: {1, 2, 3}, 3: 'hello', 4: (4, 3, 5), 5: 89.0}
dict_items([(1, 2), (2, {1, 2, 3}), (3, 'hello'), (4, (4, 3, 5)), (5, 89.0)])
1
2
2
{1, 2, 3}
3
hello
4
(4, 3, 5)
5
89.0

In [10]:
l = [1,2,3,4,4,4]
set(l)
list(set(l))
tuple(l)
dict(l)

TypeError: cannot convert dictionary update sequence element #0 to a sequence